/* Attention! : l'ordre dans lequel les différents fichiers sont importés est important! */
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";

#presentation-block {
    @include column-flexing-center;
    text-align: center;
    width: 100%;
    background-color: $lightgrey;
    margin: 10px 0px 10px 0px;
    &__location {
        @include flexing-center;
        width: 100%;
        padding: 12px 0px 12px 0px;
        margin: 0px 0px 25px 0px;
        background-color: $mediumgrey;
        color: $darkgrey;
        font-size: 85%;
        font-weight: bold;
        box-shadow: inset 0px 2px 2px -1px #b3b3b3; /* la 4e valeur permet de "contracter" l'ombre */
        i {
            position: relative;
            right: 15px;
        }
    }
    &__button {
        @include flexing-center;
        padding: 12px 15px 12px 15px;
        margin: 10px 0px 45px 0px;
        background: $secondary-primary-gradientcolor;
        @include button-style;
        color: white;
        font-size: 85%;
        font-weight: bold;
    }
    > p { /* on sélectionne seulement les enfants du parent avec le combinateur ">" */
        margin-bottom: 15px;
    }
}

#functioning-block {
    @include column-flexing-center;
    width: 100%;
    &__title {
        width: 315px;
        text-align: left;
        margin: 20px 0px 10px 0px;
        position: relative;
        right: 7px;
    }
    .functioning-block__options {
        @include flexing-center;
        width: 315px;
        height: 60px;
        margin: 10px 5px 10px 5px;
        @include standard-shadow;
        border-radius: 13px;
        background-color: $lightgrey;
        position: relative; /* permet de placer les enfants en absolute par rapport au parent */
        span {
            @include flexing-center;
            position: absolute;
            left: -10px;
            color: white;
            font-size: 75%;
            background-color: $primary-color;
            height: 18px;
            width: 18px;
            border-radius: 100%;
        }
        i {
            position: absolute;
            left: 40px;
            font-size: 15px;
            color: mix($mediumgrey, $darkgrey, 30%);
        }
        .fa-store {
            color: $primary-color;
        }
        p {
            position: absolute;
            left: 80px;
        }
        &--primaryglow {
            background-color: mix($secondary-primary-mixcolor, $lightgrey, 10%); 
        }
    }
}

#restaurants-block {
    @include column-flexing-center;
    width: 100%;
    background-color: $lightgrey;
    margin: 40px 0px 0px 0px;
    padding: 40px 10px 40px 10px;
    &__title {
        width: 100%;
        text-align: left;
        margin: 0px 0px 10px 0px;
        
    }
    .restaurants-block__cards {
        @include column-flexing-center;
        width: 100%;
        height: 250px;
        margin: 10px 0px 10px 0px;
        @include standard-shadow;
        border-radius: 15px;
        &__imgcontainer {
            display: flex;
            width: 100%;
            height: 70%;
            position: relative;
            img {
                width: 100%;
            object-fit: cover; 
            /* (object-fit: cover) ==> Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu.
            La taille réelle est calculée pour couvrir la zone décrite par la hauteur et la largeur de l'élément.
            Si les ratios de l'objet et de la boîte ne correspondent pas, le contenu remplacé sera rogné.*/
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            }
            &--new-button {
                @include flexing-center;
                height: 30px;
                width: 90px;
                background-color: $tertiary-color;
                position: absolute;
                top: 15px;
                right: 10px;
                color: darken($tertiary-color, 40%);
                border-radius: 2px;
                
            }
            :hover {
                opacity: 90%;
            }
        }
        &__infoscontainer {
            @include flexing-spacebetween;
            width: 100%;
            height: 30%;
            &__textcontainer {
                @include column-flexing-spacearound;
                height: 65%;
                margin-left: 10px;
            }
            &__iconcontainer {
                @include flexing-center;
                width: 19%;
                position: relative;
                bottom: 5px;
                i {
                    color: $primary-color;
                    font-size: 25px;
                    
                }
            }
        }
    }
}
