/* Attention! : l'ordre dans lequel les différents fichiers sont importés est important! */
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";

#presentation-block {
    @include column-flexing-center;
    text-align: center;
    width: 100%;
    background-color: $lightgrey;
    margin: 10px 0px 10px 0px;
    @media all and (min-width: $tablet-minbreakpoint) {
        font-size: 120%;
    }
    @media all and (min-width: $desktop-minbreakpoint) {
        margin: 0px 10px 0px 25px;
        font-size: 125%;
    }
    &__location {
        @include flexing-center;
        width: 100%;
        padding: 12px 0px 12px 0px;
        margin: 0px 0px 25px 0px;
        background-color: $mediumgrey;
        color: $darkgrey;
        font-size: 85%;
        font-weight: bold;
        box-shadow: inset 0px 2px 2px -1px #b3b3b3; /* la 4e valeur permet de "contracter" l'ombre */
        i {
            position: relative;
            right: 15px;
        }
        @media all and (min-width: $tablet-minbreakpoint) {
            height: 55px;
        }
        @media all and (min-width: $desktop-minbreakpoint) {
            height: 65px;
            font-size: 115%;
            margin-bottom: 29px;
        }
    }
    &__button {
        @include flexing-center;
        padding: 12px 15px 12px 15px;
        margin: 10px 0px 45px 0px;
        background: $secondary-primary-gradientcolor;
        @include button-style;
        color: white;
        font-size: 85%;
        font-weight: bold;
    }
    > p { /* on sélectionne seulement les enfants du parent avec le combinateur ">" */
        margin-bottom: 15px;
    }
}

@media all and (min-width: $desktop-minbreakpoint) {
    #presplusfunction-flexblock {
        display: flex;
        flex-direction: row;    
    }
}


#functioning-block {
    @include column-flexing-center;
    width: 100%;
    @media all and (min-width: $desktop-minbreakpoint) {
        background-color: $lightgrey;
        margin: 0px 25px 0px 10px;
    }
    &__title {
        width: 315px;
        text-align: left;
        margin: 20px 0px 10px 0px;
        position: relative;
        right: 7px;
        @media all and (min-width: $tablet-minbreakpoint) {
            font-size: 140%;
        }
        @media all and (min-width: $desktop-minbreakpoint) {
            @include flexing-center;
            margin: 0px 0px 10px 0px;
            right: inherit;
            width: 100%;
            height: 65px;
            padding: 12px 0px 12px 0px;
            background-color: $mediumgrey;
            color: $darkgrey;
            font-size: 145%;
            font-weight: bold;
            box-shadow: inset 0px 2px 2px -1px #b3b3b3;
        }
    }
    .functioning-block__options {
        @include flexing-center;
        width: 315px;
        height: 60px;
        margin: 10px 5px 10px 5px;
        @include standard-shadow;
        border-radius: 13px;
        background-color: $lightgrey;
        font-size: 90%;
        position: relative; /* permet de placer les enfants en absolute par rapport au parent */
        @media all and (min-width: $tablet-minbreakpoint) {
            font-size: 95%;
        }
        @media all and (min-width: $desktop-minbreakpoint) {
            font-size: 100%;
            height: 65px;
        }
        span {
            @include flexing-center;
            position: absolute;
            left: -10px;
            color: white;
            font-size: 75%;
            background-color: $primary-color;
            height: 18px;
            width: 18px;
            border-radius: 100%;
        }
        i {
            position: absolute;
            left: 40px;
            font-size: 15px;
            color: mix($mediumgrey, $darkgrey, 30%);
        }
        .fa-store {
            color: $primary-color;
        }
        p {
            position: absolute;
            left: 80px;
        }
        &--primaryglow {
            background-color: mix($secondary-primary-mixcolor, $lightgrey, 10%); 
        }
    }
}

#restaurants-block {
    @include column-flexing-center;
    width: 100%;
    background-color: $lightgrey;
    margin: 40px 0px 0px 0px;
    padding: 40px 10px 40px 10px;
    @media all and (min-width: $desktop-minbreakpoint) {
        padding-left: 35px;
        padding-right: 35px;
    }
    &__title {
        width: 100%;
        text-align: left;
        margin: 0px 0px 10px 0px;  
        @media all and (min-width: $tablet-minbreakpoint) {
            font-size: 140%;
        }
        @media all and (min-width: $desktop-minbreakpoint) {
            font-size: 155%;
        } 
    }
    &__flexblock1 {
        @media all and (min-width: $desktop-minbreakpoint) {
            display: flex;
        }
    }
    &__flexblock2 {
        @media all and (min-width: $desktop-minbreakpoint) {
            display: flex;
        }
    }
    .restaurants-block__cards {
        @include column-flexing-center;
        width: 100%;
        height: 250px;
        margin: 10px 0px 10px 0px;
        @include standard-shadow;
        border-radius: 15px;
        background-color: lighten($lightgrey, 2%);
        @media all and (min-width: $tablet-minbreakpoint) {
            height: 450px;
        }
        @media all and (min-width: $desktop-minbreakpoint) {
            margin: 10px;
            height: 500px;
        }
        &__imgcontainer {
            display: flex;
            width: 100%;
            height: 70%;
            position: relative;
            img {
                width: 100%;
            object-fit: cover; 
            /* (object-fit: cover) ==> Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu.
            La taille réelle est calculée pour couvrir la zone décrite par la hauteur et la largeur de l'élément.
            Si les ratios de l'objet et de la boîte ne correspondent pas, le contenu remplacé sera rogné.*/
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            }
            &--new-button {
                @include flexing-center;
                height: 30px;
                width: 90px;
                background-color: $tertiary-color;
                position: absolute;
                top: 15px;
                right: 10px;
                color: darken($tertiary-color, 40%);
                border-radius: 2px;
                
            }
            :hover {
                opacity: 90%;
            }
        }
        &__infoscontainer {
            @include flexing-spacebetween;
            width: 100%;
            height: 30%;
            @media all and (min-width: $tablet-minbreakpoint) {
                font-size: 125%;
            }
            @media all and (min-width: $desktop-minbreakpoint) {
                font-size: 135%;
            }
            &__textcontainer {
                @include column-flexing-spacearound;
                height: 65%;
                margin-left: 10px;
            }
            &__iconcontainer {
                @include flexing-center;
                width: 19%;
                position: relative;
                bottom: 5px;
                i {
                    @include hearticon-resized;  
                    @media all and (min-width: $tablet-minbreakpoint) {
                        font-size: 30px;
                    }
                    @media all and (min-width: $desktop-minbreakpoint) {
                        font-size: 33px;
                    }
                }
            }
        }
    }
}

/* Partie menus des différents restaurants */

#menu-title {
    @include column-flexing-center;
    width: 100%;
    margin-top: 10px;
    position: relative;
    @media all and (min-width: $desktop-minbreakpoint) {
        font-size: 125%;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 350px;
    }
    &__text {
        width: 100%;
        height: 27%;
        background-color: $lightgrey;
        @include flexing-spacebetween;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 0px 40px 0px 15px;
        position: absolute;
        bottom: 0px;
        i {
            @include hearticon-resized;
            font-size: 18px;
            @media all and (min-width: $desktop-minbreakpoint) {
                font-size: 30px;
            }
        }
    }
}

.menu-parts {
    @include column-flexing-center;
    width: 100%;
    padding: 0px 10px 20px 10px;
    background-color: $lightgrey;
    @media all and (min-width: $desktop-minbreakpoint) {
            font-size: 115%;
        }
    &__title {
        position: relative;
        width: 100%;
        height: 35px;
        padding-left: 5px;
        
    }
    &__title::before { /* Utilisation pseudo-élément pour pouvoir manipuler la bordure comme je veux */
        content : "";
        position: absolute;
        left    : 5px;
        bottom  : 10px;
        height  : 2px;
        width   : 40px; 
        border-bottom: 3px solid darken($tertiary-color, 10%);
      }
    &__dishes {
        @include column-flexing-left;
        width: 100%;
        height: 65px;
        border-radius: 15px;
        margin: 2px 0px 12px 0px;
        padding: 15px 18px 15px 12px;
        @include standard-shadow;
        background-color: lighten($lightgrey, 1%);
        @media all and (min-width: $desktop-minbreakpoint) {
            height: 75px;
        }
        > p { /* selectionne juste l'enfant et non les descendants */
            font-size: 110%;
        }
        &__flexline {
            width: 100%;
            @include flexing-spacebetween;
            margin-top: 5px;
            font-size: 95%;
        }
    }
}

#command-button {
    @include flexing-center;
    width: 100%;
    background-color: $lightgrey;
    padding: 10px 0px 10px 0px;
    &__button {
    @include flexing-center;
    width: 190px;
    height: 50px;
    padding: 12px 15px 12px 15px;
    margin: 10px 0px 45px 0px;
    background: $secondary-primary-gradientcolor;
    @include button-style;
    color: white;
    font-weight: bold;
    @media all and (min-width: $desktop-minbreakpoint) {
        font-size: 115%;
        height: 60px;
        width: 210px;
    }
    }
}