/* Animation coeur qui se remplit */
@keyframes heart-filling{
    0% {
        opacity: 0;
        color: $secondary-primary-mixcolor;
    }
    100% {
        opacity: 1;
        color: $secondary-primary-mixcolor;
    }
}

/* Animation affichage des plats en décalé */
@keyframes dishes-animation{
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

/* Animation check div on hover sur les dishes*/
@keyframes checked-animation{
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
        width: 125px; /* Pas une bonne solution (DOM) d'après le cours, mais que ça qui marche pour le moment */
    }
}

/* J'utilise les keyframes plutôt que les transitions surtout pour profiter de la propriété animation fill mode pour l'instant */

@keyframes loader {
    0% {
        transform: rotate(1turn);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

@keyframes hide-mainpage {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}