/* Pour éviter de réecrire sans cesse les mêmes règles flex */
@mixin flexing-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexing-spacebetween {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

@mixin column-flexing-spacearound {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

/* Pour éviter de réecrire sans cesse les mêmes règles flex */
@mixin column-flexing-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin column-flexing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin button-style {
    box-shadow: 3px 3px 10px #bfbfbf; /* offset-x | offset-y | blur-radius | color */
    border-radius: 45px;
}

@mixin standard-shadow {
    box-shadow: 3px 3px 10px #bfbfbf; /* offset-x | offset-y | blur-radius | color */
}

@mixin hearticon-resized
{
    color: $darkgrey;
    font-size: 22px;
    transform: scale(1.1,1.3); /* retouche de l'icone pour quelle soit légerement plus etiré en hauteur */
}

